.box{
    padding: 30px;
    border-radius: 6px;
    /* box-shadow: 6px 6px 1px rgba(255, 255, 255, 0.5); */
    background-color: bisque;
    
    width:50rem;
    text-align: center;
    margin-top: 10px;
}

/* .glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.18));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */